
  
  .coin-container2 {
      display: flex;
      justify-content: center;
      background-color: black;
    }
    
    .coin-row2 {
      display: flex;
      flex-direction: row;
      justify-content: start;
      align-items: center;
      height: 80px;
      background-color: black;
      border-bottom: 1px solid #d7d7d7;
      width: 900px;
    }
    
    .coin2 {
      display: flex;
      align-items: center;
      padding-right: 24px;
      min-width: 300px;
      background-color: black;
    }
    
    .coin2 h1 {
      font-size: 19px;
      width: 150px;
      background-color: black;
    }
    
    .coin2 img {
      height: 30px;
      width: 30px;
      margin-right: 10px;
      background-color: black;
    }
    
    .coin-symbol2 {
      text-transform: uppercase;
    }
    
    .coin-data2 {
      display: flex;
      text-align: right;
      justify-content: space-between;
      width: 100%;
      background-color: black;
    }
    
    .coin-price2 {
      width: 110px;
      background-color: black;
    }
    
    .coin-volume2 {
      width: 155px;
      background-color: black;
    }
    
    .coin-marketcap2 {
      width: 230px;
      background-color: black;
    }
    
    .coin-percent2 {
      width: 100px;
      background-color: black;
    }
  
    .react-icon2 {
      width: 50px;
      cursor: pointer;
      background-color: black;
    }
    
    .red2 {
      color: #f00606;
      background-color: black;
    }
    
    .green2 {
      color: #11d811;
      background-color: black;
    }

    .react-icon2 {
      background-color: black;
      fill: red;
      cursor: pointer;
    }